pyspark
pandas
numpy
scikit-learn
matplotlib
fastapi
python-box #config box
pyYAML
ensure
joblib
types-PyYAML
seaborn
streamlit
ipykernel > 6.0.0
pip-chill==1.0.1
requests
category_encoders
apache-airflow==2.7.2
pyarrow
fastparquet
boto3<=1.15.3
python-dotenv
docker
great_expectations
findspark
redis
mlflow
hopsworks~=4.1.5

-e .